fastapi==0.115.0
uvicorn[standard]==0.30.6
jinja2==3.1.4
google-generativeai==0.8.3
weasyprint
python-multipart==0.0.9
python-dotenv==1.0.1
openpyxl==3.1.5
openai==1.51.0
google-cloud-vision==3.7.4
python-barcode==0.15.1
Pillow==10.4.0
google-api-python-client==2.146.0
psycopg2-binary==2.9.9
supabase==2.7.4
requests==2.32.3
pydantic==2.9.2
