fastapi
uvicorn[standard]
jinja2
google-generativeai
weasyprint
python-multipart
python-dotenv
openpyxl
openai
google-cloud-vision
python-barcode
Pillow
google-api-python-client
psycopg2-binary
supabase==2.7.4
